---
- name: Delete DNS record at Hetzner
  uri:  # noqa no-handler
    url: "https://dns.hetzner.com/api/v1/records/{{ item.json.record.id }}"
    method: DELETE
    headers:
      Auth-API-Token: "{{ le_hetzner_account_api_token }}"
      Content-Type: 'application/json'
  with_items: "{{ hetzner_record.results }}"
  when:
    - sample_com_challenge is changed
