sleep 1600
openshift-install --dir=/root/{{ cluster_name }}-install wait-for bootstrap-complete --log-level debug
export KUBECONFIG={{ cluster_name }}-install/auth/kubeconfig
oc patch configs.imageregistry.operator.openshift.io cluster --type merge --patch '{"spec":{"storage":{"emptyDir":{}}}}'
openshift-install --dir=/root/{{ cluster_name }}-install wait-for install-complete
