$ORIGIN .
$TTL 60
{{ rev_domain }}.  60   IN    SOA    api.{{cluster_name}}.{{public_domain}}. admin.{{cluster_name}}.{{public_domain}}. (
                  6        ; Serial
              86400        ; Refresh
               7200        ; Retry
            2419200        ; Expire
                  1 )      ; Negative Cache TTL
;
; name servers - NS records
                            NS    api.{{cluster_name}}.{{public_domain}}.

$ORIGIN {{ rev_domain }}.
$TTL 1
; PTR records

1        IN  PTR api.{{cluster_name}}.{{public_domain}}.
1        IN  PTR api-int.{{cluster_name}}.{{public_domain}}.
{{ host_bootstrap_ip.split(".")[3] }}  IN  PTR bootstrap.{{cluster_name}}.{{public_domain}}.
{{ host_master_0_ip.split(".")[3] }}   IN  PTR master-0.{{cluster_name}}.{{public_domain}}.
{{ host_master_1_ip.split(".")[3] }}   IN  PTR master-1.{{cluster_name}}.{{public_domain}}.
{{ host_master_2_ip.split(".")[3] }}   IN  PTR master-2.{{cluster_name}}.{{public_domain}}.
{{ host_worker_0_ip.split(".")[3] }}   IN  PTR worker-0.{{cluster_name}}.{{public_domain}}.
{{ host_worker_1_ip.split(".")[3] }}   IN  PTR worker-1.{{cluster_name}}.{{public_domain}}.
{{ host_worker_2_ip.split(".")[3] }}   IN  PTR worker-2.{{cluster_name}}.{{public_domain}}.
