$ORIGIN apps.{{cluster_name}}.{{public_domain}}.
$TTL 60
apps.{{cluster_name}}.{{public_domain}}.  60   IN    SOA    api.{{cluster_name}}.{{public_domain}}. admin.{{cluster_name}}.{{public_domain}}. (
                                            7           ; Serial
                                            86400       ; Refresh
                                            7200        ; Retry
                                            2419200     ; Expire
                                            1    )      ; Negative Cache TTL

@                                   IN    NS    api.{{cluster_name}}.{{public_domain}}.
*                                   IN    CNAME api.{{cluster_name}}.{{public_domain}}.
