- name: Create DNS record at deSEC
  ansible.builtin.uri:
    url: "https://desec.io/api/v1/domains/{{ pd_desec_zone }}/rrsets/"
    method: PATCH
    headers:
      Authorization: "Token {{ pd_desec_account_api_token }}"
    body_format: json
    body:
      - subname: "{{ item }}.{{ cluster_name }}"
        type: A
        ttl: 3600
        records:
        - "{{ pd_public_ip }}"
    status_code: [200, 429]
  with_items:
    - api
    - '*.apps'
  register: api_response
  until: api_response.status == 200
  retries: 10
  delay: 5
  tags:
    - public_dns
  when: (pd_public_ip is defined) and (pd_public_ip|length > 0)

- name: Create IPv6 DNS record at deSEC
  ansible.builtin.uri:
    url: "https://desec.io/api/v1/domains/{{ pd_desec_zone }}/rrsets/"
    method: PATCH
    headers:
      Authorization: "Token {{ pd_desec_account_api_token }}"
    body_format: json
    body:
      - subname: "{{ item }}.{{ cluster_name }}"
        type: AAAA
        ttl: 3600
        records:
        - "{{ pd_public_ipv6 }}"
    status_code: [200, 429]
  with_items:
    - api
    - '*.apps'
  register: api_response
  until: api_response.status == 200
  retries: 10
  delay: 5
  tags:
    - public_dns
  when: (pd_public_ipv6 is defined) and (pd_public_ipv6 is not none) and (pd_public_ipv6|length > 0)
