---

- name: Build OpenShift download urls
  ansible.builtin.set_fact:
    tmp_openshift_install_download_url: "{{ openshift_location }}/openshift-install-linux.tar.gz"
    tmp_openshift_client_download_url: "{{ openshift_location }}/openshift-client-linux.tar.gz"

- name: Init check_urls
  ansible.builtin.set_fact:
    check_urls:
      - "{{ tmp_openshift_install_download_url }}"
      - "{{ tmp_openshift_client_download_url }}"
      - "{{ (download_oc_mirror is true) | ternary(openshift_location + '/oc-mirror.tar.gz', '') }}"
      - "{{ opm_download_url }}"
      - "{{ helm_cli_location }}"
      - "{{ butane_cli_location }}"

- name: Filter check_urls
  ansible.builtin.set_fact:
    check_urls: "{{ check_urls|select|list }}"

- name: Check download urls
  ansible.builtin.uri:
    method: HEAD
    url: "{{ item }}"
    status_code:
      - 200
      # Forbidden because of github forwards to aws s3.
      # HEAD request to S3 is forbidden
      - 403
  with_items: "{{ check_urls }}"

- name: Create temporary OpenSift download directory
  ansible.builtin.tempfile:
    state: directory
    suffix: ocp
  register: temp_ocp_dir

- name: Download OpenShift client
  ansible.builtin.unarchive:
    src: "{{ tmp_openshift_client_download_url }}"
    dest: "{{ temp_ocp_dir.path }}"
    remote_src: yes
    mode: u+rwx,g+rx,o+rx
    owner: root
    group: root
    exclude:
      - 'README.md'

- name: Determine if OpenShift client version
  ansible.builtin.command:
    cmd: "{{ temp_ocp_dir.path }}/oc version -o yaml"
  register: oc_version

- name: Set detected OpenShift client version raw
  ansible.builtin.set_fact:
    detected_openshift_version: "{{ (oc_version.stdout_lines | join('\n') | from_yaml).releaseClientVersion }}"


- name: Create OpenShift artifacts directory
  ansible.builtin.file:
    path: "/opt/openshift-{{ detected_openshift_version | default(openshift_version) }}/"
    state: directory
    mode: u+rwx,g+rx,o+rx
  register: openshift_artifacts_dir

- name: Copy OpenShift client to artifacts directory
  ansible.builtin.copy:
    remote_src: yes
    src: "{{ temp_ocp_dir.path }}/{{ item }}"
    dest: "{{ openshift_artifacts_dir.path }}/"
    mode: u+rwx,g+rx,o+rx
    owner: root
    group: root
    force: yes
    follow: false
  with_items:
    - "oc"
    - "kubectl"

- name: Delete temporary OpenShift download directory
  ansible.builtin.file: 
    path: '{{ temp_ocp_dir.path }}'
    state: absent

- name: Download OpenShift installer
  ansible.builtin.unarchive:
    src: "{{ tmp_openshift_install_download_url }}"
    dest: "{{ openshift_artifacts_dir.path }}/"
    remote_src: yes
    mode: u+rwx,g+rx,o+rx
    owner: root
    group: root
    exclude:
      - 'README.md'
    creates: "{{ openshift_artifacts_dir.path }}/openshift-install"

- name: Download OpenShift Mirror
  ansible.builtin.unarchive:
    src: "{{ openshift_location }}/oc-mirror.tar.gz"
    dest: "{{ openshift_artifacts_dir.path }}/"
    remote_src: yes
    mode: u+rwx,g+rx,o+rx
    owner: root
    group: root
    exclude:
      - 'README.md'
    creates: "{{ openshift_artifacts_dir.path }}/oc-mirror"
  when: download_oc_mirror is true

- name: Download OPM (gz)
  ansible.builtin.unarchive:
    src: "{{ opm_download_url }}"
    dest: "{{ openshift_artifacts_dir.path }}/"
    remote_src: yes
    mode: u+rwx,g+rx,o+rx
    owner: root
    group: root
    exclude:
      - 'README.md'
    creates: "{{ openshift_artifacts_dir.path }}/opm-rhel9"
  when: opm_download_url | regex_search("^(.*)\.tar\.gz$") | ansible.builtin.length > 0

- name: Download OPM
  ansible.builtin.get_url:
    url: "{{ opm_download_url }}"
    dest: "{{ openshift_artifacts_dir.path }}/opm-rhel9"
    mode: u+rwx,g+rx,o+rx
  when: opm_download_url | regex_search("^(.*)\.tar\.gz$") | ansible.builtin.length == 0

- name: Download Helm client
  ansible.builtin.get_url:
    url: "{{ helm_cli_location }}"
    mode: u+rwx,g+rx,o+rx
    dest: "{{ openshift_artifacts_dir.path }}/helm"

- name: Download butane client
  ansible.builtin.get_url:
    url: "{{ butane_cli_location }}"
    mode: u+rwx,g+rx,o+rx
    dest: "{{ openshift_artifacts_dir.path }}/butane"


- name: Create a symbolic link
  ansible.builtin.file:
    src: "{{ openshift_artifacts_dir.path }}{{ item.value }}"
    dest: "{{ item.key }}"
    state: link
    force: yes
    follow: false
  with_dict:
    "/usr/local/bin/oc": "oc"
    "/usr/local/bin/oc-mirror": "oc-mirror"
    "/usr/local/bin/kubectl": "kubectl"
    "/usr/local/bin/openshift-install": "openshift-install"
    "/usr/local/bin/helm": "helm"
    "/usr/local/bin/butane": "butane"
    "/usr/local/bin/opm": "opm-rhel9"

#
# CoreOS
#
- name: Determinate CoreOS version
  ansible.builtin.command:
    cmd: "{{ openshift_artifacts_dir.path }}/openshift-install coreos print-stream-json"
  register: coreos_version_raw

- name: Set detected CoreOS version raw
  ansible.builtin.set_fact:
    detected_coreos_version: "{{ (coreos_version_raw.stdout_lines | join('\n') | from_json).architectures.x86_64.artifacts.qemu.formats['qcow2.gz'].disk }}"
  
- name: Set coreos_file & coreos_image_location
  ansible.builtin.set_fact:
    coreos_file: "{{ (detected_coreos_version.location | basename).split('.')[0:-1] | join('.') }}"
    coreos_image_location: "{{ coreos_path }}/{{  (detected_coreos_version.location | basename).split('.')[0:-1] | join('.') }}"

- name: check if coreos image already downloaded and get checksum
  ansible.builtin.stat:
    checksum_algorithm: sha256
    path: "{{ coreos_path }}/{{ coreos_file }}"
  register: coreos_checksum

- name: Download CoreOS
  ansible.builtin.get_url:
    url: "{{ detected_coreos_version.location }}"
    dest: "{{ coreos_path }}/{{ detected_coreos_version.location | basename }}"
    checksum: "sha256:{{ detected_coreos_version.sha256 }}"
  when: (coreos_checksum.stat.exists is false) or 
        (coreos_checksum.stat.checksum != detected_coreos_version['uncompressed-sha256'])

- name: unzip the coreos
  ansible.builtin.command: "gunzip {{ coreos_path }}/{{ detected_coreos_version.location | basename }}"
  args:
    chdir: "{{ coreos_path }}"
    creates: "{{ coreos_path }}/{{ coreos_file }}"
