---
- name: RHEL Subscription
  redhat_subscription:
    state: present
    activationkey: "{{ redhat_subscription_activationkey }}"
    org_id: "{{ redhat_subscription_org_id }}"

- name: Disable all RHSM repositories
  rhsm_repository:
    name: '*'
    state: disabled

- name: Enable repos for RHEL
  rhsm_repository:
    name: "{{ rhsm_repository }}"
    state: enabled
