[Unit]
Description=OpenShift 4 LoadBalancer ({{ lb_name }})
After=network.target

[Service]
Type=simple
TimeoutStartSec=5m

EnvironmentFile=/etc/sysconfig/{{ lb_name }}.env

ExecStartPre=-/usr/bin/podman rm "{{ lb_name }}"
ExecStartPre=/usr/bin/podman pull {{ lb_container_image }}
ExecStart=/usr/bin/podman run --name {{ lb_name }} --net host \
  --env-host=true \
  {{ lb_container_image }}

ExecReload=-/usr/bin/podman stop "{{ lb_name }}"
ExecReload=-/usr/bin/podman rm "{{ lb_name }}"
ExecStop=-/usr/bin/podman stop "{{ lb_name }}"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target