{
  "ignition": {
    "config": {
      "append": [
        {
          "source": "http://{{subnet}}.1:8000/bootstrap.ign",
          "verification": {}
        }
      ]
    },
    "security": {},
    "timeouts": {},
    "version": "2.2.0"
  },
  "networkd": {},
  "storage": {},
  "systemd": {}
}
