apiVersion: v1
baseDomain: {{ public_domain }}
compute:
- name: worker
  platform: {}
  replicas: 0
controlPlane:
  name: master
  platform: {}
  replicas: {{ master_count }}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetworks:
{% if 'IPv4' in ip_families  %}
  - cidr: 10.128.0.0/14
    hostSubnetLength: 9
{% endif %}
{% if 'IPv6' in ip_families  %}
  - cidr: fd00:10:128::/56
    hostPrefix: 64
{% endif %}
  machineNetwork:
{% if 'IPv4' in ip_families  %}
  - cidr: {{ vn_subnet }}/24
{% endif %}
{% if 'IPv6' in ip_families  %}
  - cidr: {{ vn_subnet_ipv6 }}::/80
{% endif %}
  serviceNetwork:
{% if 'IPv4' in ip_families  %}
  - 172.30.0.0/16
{% endif %}
{% if 'IPv6' in ip_families  %}
  - fd00:172:16::/112
{% endif %}
  type: {{ sdn_plugin_name }}
platform:
  none: {}
pullSecret:
  '{{ image_pull_secret }}'
sshKey: |
  {{ ssh_public_key }}
{% if install_config_additionalTrustBundle is defined %}
additionalTrustBundle: |
  {{ install_config_additionalTrustBundle |indent(width=2) }}
{% endif %}
{%- if install_config_imageContentSources is defined %}
imageContentSources:
  {{ install_config_imageContentSources  | to_nice_yaml(indent=2) | indent(width=2) }}
{% endif %}
{%- if install_config_proxy is defined %}
proxy:
  {{ install_config_proxy  | to_nice_yaml(indent=2) | indent(width=2) }}
{% endif %}
