apiVersion: v1
baseDomain: {{ public_domain }}
compute:
- name: worker
  platform: {}
  replicas: 0
controlPlane:
  name: master
  platform: {}
  replicas: 3
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostSubnetLength: 9
  machineCIDR: 10.0.0.0/16
  serviceCIDR: 172.30.0.0/16
  type: OpenShiftSDN
platform:
  none: {}
pullSecret:
  '{{ image_pull_secret }}'
sshKey: |
  {{ ssh_public_key }}
