<domain type='kvm' xmlns:qemu='http://libvirt.org/schemas/domain/qemu/1.0'>
  <name>{{ vm_instance_name }}</name>
  <uuid>{{ lookup('lines','uuidgen') }}</uuid>
  <metadata>
    <kvirt:info xmlns:kvirt="kvirt">
      <kvirt:profile>kvirt</kvirt:profile>
      <kvirt:plan>{{ cluster_name }}</kvirt:plan>
    </kvirt:info>
  </metadata>
  <memory unit='{{ vm_memory_unit }}'>{{ vm_memory_size }}</memory>
  <currentMemory unit='{{ vm_memory_unit }}'>{{ vm_memory_size }}</currentMemory>
  <vcpu>{{ vm_vcpu }}</vcpu>
{% if vm_special_cpu is defined and vm_special_cpu|length %}
  {{ vm_special_cpu }}
{% else %}
  <cpu mode='host-passthrough'></cpu>
{% endif %}
  <os firmware="efi">
    <type arch="x86_64" machine="q35" >hvm</type>
    <boot dev="hd"/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <clock offset="utc">
    <timer name="rtc" tickpolicy="catchup"/>
    <timer name="pit" tickpolicy="delay"/>
    <timer name="hpet" present="no"/>
  </clock>
  <pm>
    <suspend-to-mem enabled="no"/>
    <suspend-to-disk enabled="no"/>
  </pm>
  <devices>
    <emulator>/usr/libexec/qemu-kvm</emulator>
    <controller type="pci" index="0" model="pcie-root"/>
{% if vm_storage_backend is defined and vm_storage_backend == "lvm" %}
    <disk type='block' device='disk'>
      <driver name='qemu' type='raw'/>
      <source dev='/dev/{{ vm_storage_backend_location }}/{{ vm_instance_name }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
{% else %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' discard='unmap' />
      <source file='/var/lib/libvirt/images/{{ vm_instance_name }}.qcow2'/>
      <target dev='vda' bus='virtio'/>
    </disk>
{% endif %}

    <controller type="usb" index="0" model="ich9-ehci1"/>
    <controller type="usb" index="0" model="ich9-uhci1">
      <master startport="0"/>
    </controller>
    <controller type="usb" index="0" model="ich9-uhci2">
      <master startport="2"/>
    </controller>
    <controller type="usb" index="0" model="ich9-uhci3">
      <master startport="4"/>
    </controller>
    <interface type='network'>
      <mac address='{{ vm_mac_address  }}'/>
      <source network='{{ vm_network }}'/>
      <model type='virtio'/>
    </interface>
    <video>
      <model type='none' />
    </video>
    <console type="pty"/>
    <rng model="virtio">
      <backend model="random">/dev/urandom</backend>
    </rng>
  </devices>
  <qemu:commandline>
      <qemu:arg value='-fw_cfg'/>
      <qemu:arg value='name=opt/com.coreos/config,file=/var/lib/libvirt/images/{{ vm_instance_name }}.ign'/>
  </qemu:commandline>
</domain>
